<div class="c-popup__wrap">
    <div class="c-popup__content">
        <div class="o-statusBox o-statusBox--success">
            <img src="assets/images/icons/others/success-bu.svg" class="o-statusBox__img" alt="Success">
            <p class="o-statusBox__msg">{{ data.title }}</p>
            <p *ngIf="data.description" class="o-statusBox__desc">{{ data.description }}</p>
        </div>
    </div>
    <div class="c-popup__actions">
        <div class="l-actions l-actions--popup">
            <div class="l-actions__item">
                <a appDialogClose class="o-btn o-btn--primary" data-mfp-close-all="true">關閉</a>
            </div>
        </div>
    </div>
</div>
