<div class="c-popup__wrap">
    <div class="c-popup__content">
        <div class="o-statusBox o-statusBox--failure">
            <img src="assets/images/icons/others/failure-og.svg" class="o-statusBox__img" alt="Success">
            <p class="o-statusBox__msg">刪除資料</p>

            <p *ngIf="deleteAmount >= 1; else oneData" class="o-statusBox__desc">您是否確定要刪除 <span>{{ deleteAmount }}</span>筆資料 呢？
            </p>

            <ng-template #oneData>
                <p class="o-statusBox__desc">您是否確定要刪除<span>此</span>筆資料呢？</p>
            </ng-template>

        </div>
    </div>
    <div class="c-popup__actions">
        <div class="l-actions l-actions--popup">
            <div class="l-actions__item">
                <a class="o-btn o-btn--secondary" [appDialogClose]="false">取消</a>
            </div>
            <div class="l-actions__item">
                <a class="o-btn o-btn--primary" [appDialogClose]="true">確認</a>
            </div>
        </div>
    </div>
</div>
