<div class="calc">
    <p class="screen"></p>
    <table>
        <colgroup></colgroup>
        <tr class="calc-row">
            <td class="calc-btn"><button>AC</button></td>
            <td class="calc-btn"><button><</button></td>
            <td class="calc-btn"><button></button></td>
            <td class="calc-btn"><button>÷</button></td>
        </tr>
        <tr class="calc-row">
            <td *ngFor="let num of [7,8,9]" class="calc-btn number"><button>{{ num }}</button></td>
            <td class="calc-btn number"><button>8</button></td>
            <td class="calc-btn number"><button>9</button></td>
            <td class="calc-btn"><button>×</button></td>
        </tr>
        <tr class="calc-row">
            <td *ngFor="let num of [4,5,6]" class="calc-btn number"><button>{{ num }}</button></td>
            <td class="calc-btn"><button>-</button></td>
        </tr>
        <tr class="calc-row">
            <td *ngFor="let num of [1,2,3]" class="calc-btn number"><button>{{ num }}</button></td>
            <td class="calc-btn"><button>+</button></td>
        </tr>
        <tr class="calc-row">
            <td class="calc-btn number"><button>0</button></td>
            <td class="calc-btn number"><button>00</button></td>
            <td class="calc-btn number"><button>.</button></td>
            <td class="calc-btn"><button>=</button></td>
        </tr>
    </table>
</div>
