@mixin clearFloat {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    border: initial;
    background-color: initial;
    color: inherit;
    cursor: pointer;

    &:focus {
        outline: initial;
    }
}

.topbar {
    @include clearFloat();
    width: 155px;
    margin: 0 13px;
    padding: 0 2px;
    overflow: hidden;
}

.prev-result {
    height: 12px;
    min-width: 100%;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: left;
    color: #444444;
    float: right;
}

.screen {
    display: block;
    height: 32px;
    min-width: 100%;
    border: none;
    border-bottom: 1px solid #dddddd;
    line-height: 32px;
    text-align: right;
    float: right;
}

.calc {
    display: inline-block;

    &-btn {
        text-align: center;
        color: chocolate;

        button {
            padding: 15px;
            border-radius: 5px;

            &:hover {
                background-color: #eeeeee;
            }
            &:active {
                opacity: 0.75;
            }
        }
    }
}

.number {
    color: black;
}
